@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

html{
	background: white;
}

body {
	background: white;
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: lighter;
	color: #111111;
	margin: 0px;
}

header{
	/* background: #f5f5f5; */
	background: white;
	display: block;
	position: fixed;
	width: 100%;
	padding: 2% 4% 2% 4%;
	border-bottom: 1px solid #111111;
}
header #community{
	font-size: 1.5em;
	font-weight: bold;
	display: inline-block;
}
header #date{
	font-size: 1em;
	margin-left: 55%;
	text-align: right;
	display: inline-block;
}

div{
	margin: 15px 0px 15px 0px;
	display: block;
}
.content{
	text-align: center;
}

.play_button{
	position: relative;
	/* background: #2CB5AB; */
	border: none;
	font-weight: lighter;
	border-radius: 0 0 5px 5px;
	background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
	/* padding: 10px 30px 10px 30px; */
	font-size: 1.6em;
	padding: 15px 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;

	/* text-decoration: none;
	color: white; */
}
.play_button:enabled:hover{
	cursor: pointer;
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.play_button:enabled:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}
.play_button:disabled{
	background: #dddddd;
	box-shadow: 0 4px #bbb;
	cursor: not-allowed;
}
.play_button:disabled:hover{
	background: #dddddd;
	cursor: not-allowed;
}

.calendar{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	/* border-radius: 5px; */
	/* box-shadow: 5px 5px 5px rgba(0,0,0,0.1); */
	padding: 2px 0px 20px 0px;

	background: #f5f5f5;
	overflow-x: scroll;
}
.cal_col{
	min-width: 150px;
	width: 12.7%;
	height: 300px;
	border-left: 0.5px;
	border-right: 0.5px;
	/* border-radius: 10px; */

	display: inline-block;
	background: white;
	overflow-x: scroll;
}
.cal_col p {
	margin: 5px;
}
.cal_col:hover {
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	/* color: #cb4e4e; */
}
#t0 {
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	/* color: #cb4e4e; */
	/* background: #ffdede; */
	/* color: #fff; */
}
.cal_weekday {
	font-weight: bold;
}
.cal_date {
	font-style: italic;
	font-size: 0.8em;
}
.cal_event {
	font-size: 1em;
	text-align: left;
	display: inline-block;
}
.calName_event {
	font-size: 1em;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 0px;
	display: inline-block;
}
